<div class="container container-places">
  <div class="row">
    <div class="col-12">
      <div class="row wrapper">

        <div class="col-6">
            <form   [formGroup]="searchForm" novalidate class="k-form" (ngSubmit)="searchSubmit(searchForm.value)">
                <label class="k-form-field">
                    <span>Pesquise pelo ID</span>
                    <input [formControl]="searchForm.controls['code']" type="number" class="k-textbox"  placeholder="Ir para o ID" />
                </label>

                <button type="submit" class="k-button">Pesquisar</button>
            </form>
        </div>
        <div class="col-6">
              <button [routerLink]="['create','new']" >Criar Imóvel</button>
        </div>

        <div class="col-12">

          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Tipo</th>
                <th>Endereço</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let place of places?.data">
                <th scope="row">{{ place.id }}</th>
                <td>
                  <a  class="link">{{ place.name }}</a>
                </td>
                <td>{{ place.code }}</td>
                <td>{{ place.type }}</td>
                <td>{{ place.address1 }}</td>
                <td>
                  <button [routerLink]="[place.id]">Ver</button>
                  <button [routerLink]="[ place.id, 'edit']" >Editar</button>
                  <button (click)="delete(place.id)">Excluir</button>
                </td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="places?.prev_page_url" class=pa>
            <button class="btn btn-primary page-prev" (click)="getPlaces(places?.current_page - 1)">
              <</button>
          </div>

          <div *ngIf="places?.next_page_url">
            <a class="btn btn-primary page-next" (click)="getPlaces(places?.current_page + 1)">></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
