<div class="container">
  <div class="row">
    <div class="col-12">
        SHOW  {{ place.name }}
        <span *ngIf="!place.name" >Não foi encontrado nenhum imóvel com este ID</span>
        <button [routerLink]="['/places']" >Voltar</button>
    </div>
  </div>
</div>







