<div class="container">
    <div class="row">
      <div class="col-12">
          FORMS  {{ place.name }}
          <button [routerLink]="['/places']" >Voltar</button>

          <form   [formGroup]="placeForm" novalidate class="k-form" (ngSubmit)="placeSubmit(placeForm.value)">
              <label class="k-form-field">
                  <span>Name</span>
                  <input [formControl]="placeForm.controls['name']" type="text" class="k-textbox" [value]="exists(place.name)"  placeholder="nome" />
              </label>

              <label class="k-form-field">
                  <span>code</span>
                  <input [formControl]="placeForm.controls['code']" type="number" class="k-textbox" [value]="exists(place.code)" placeholder="nome" />
              </label>

              <label class="k-form-field">
                  <span>type</span>
                  <input [formControl]="placeForm.controls['type']" type="text" class="k-textbox" [value]="exists(place.type)" placeholder="nome" />
              </label>

              <label class="k-form-field">
                  <span>price</span>
                  <input [formControl]="placeForm.controls['price']" type="number" class="k-textbox" [value]="exists(place.price)"  placeholder="nome" />
              </label>

              <label class="k-form-field">
                  <span>area</span>
                  <input [formControl]="placeForm.controls['area']" type="number" class="k-textbox" [value]="exists(place.area)" placeholder="nome" />
              </label>

              <label class="k-form-field">
                  <span>description</span>
                  <input [formControl]="placeForm.controls['description']" type="text" class="k-textbox" [value]="exists(place.description)" placeholder="nome" />
              </label>

              <button type="submit" class="k-button">Salvar</button>
          </form>


      </div>
    </div>
</div>

  

  
  
  

