<div class="container container-login">
  <div class="row">
    <div class="col-12">
        <div class="row wrapper">
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <form   [formGroup]="loginForm" novalidate class="k-form" (ngSubmit)="loginSubmit(loginForm.value)">
                            <label class="k-form-field">
                                <span>Email</span>
                                <input [formControl]="loginForm.controls['email']" type="email" class="k-textbox"  placeholder="nome@email" />
                            </label>
                            <label class="k-form-field">
                                <span>Senha</span>
                                <input [formControl]="loginForm.controls['password']" type="password"  class="k-textbox" placeholder="senha" />
                            </label>
                            <button type="submit" class="k-button">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>