<header>
  <div class="container">
    <div class="row">
      <div class="col-6"><h1>Iago Imóveis</h1></div>
      <div class="col-6 text-align-right"> <a *ngIf="logged()" (click)="logout()" >Sair</a>  </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>
